<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    </head>


    <body>

        <nav class="navbar navbar-default  navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                    <a class="navbar-brand" href="/rango/">Rango</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav pull-right">
                         {% if user.is_authenticated %}
                            <li class="navbar-text">Welcome, {{ user.username }}!</li>
                            <li><a href="/rango/logout/">Logout</a></li>
                         {% else %}
                            <li><a href="/rango/register/">Register</a></li>
                            <li><a href="/rango/login/">Login</a></li>
                         {% endif %}
                     </ul>
                     <ul class="nav navbar-nav">
                         {% if user.is_authenticated %}
                            <li><a href="/rango/restricted/">Restricted</a></li>
                            <li><a href="/rango/add_category/">Add Category</a></li>
                         {% endif %}
                           <li><a href="/rango/about/">About</a></li>
                     </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <!--- Empty for the timebeing -->
                    </div>
                    <!--/.well -->
                </div>
                <!--/span-->
                <div class="span9">
                    {% block body_block %}
                    {% endblock %}
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/.fluid-container-->

        <hr>



        <script src="{% static 'jquary/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
    <footer>
        <div class="container">
            <p>&copy; Rango: How to Tango with Django 2013</p>
        </div>
        <div class="container">
            <a href="apolish.html">apolish web</a>
        </div>

    </footer>
</html>